*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    background-color: #4287f5;
    display: flex;                          /*coloca  os itens na msm linha */
    justify-content: space-around;          /* */
    align-items: center;                    /* deixa os ideins alinhados  */
    padding: 20px 0;
}

.logo-imagem{
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 25px;

}

.container-logo{
    display: flex;
    align-items: center;
    
}

.logo-texto{
    margin-left: 20px;
    color: white;
}

nav ul li{
    display: inline-block;               /* tira os que estão um em cima do outro e os coloca alinhados*/
    margin: 0 10px;
}
nav ul li a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;          /* Torna tudo maiúscula */
    background-color: black;
    padding: 10px 28px;
    border-radius: 10px;

}
nav ul li a:hover{
    background-color: rgba(100, 100, 100, 0.8);
}