*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #F5CF06;
    --secundary-color: #8E4106;
    --text-background: #ffffff;
}

body{
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
}

.container{
    height: 100%;
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: auto;
}

header{
    margin-top: 70px;
}

header a{
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    gap: 16px;
    text-decoration: none;
    font-family: 'Righteous', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: var(--secundary-color);

}

main{
    background-color: tomato;
    flex-grow: 1;
}

footer{
    background-color: plum;
    margin-bottom: 24px;
}