:root{
    --primary-color: #FCD116;
    --secundary-color: #108E34;
    --tertiary-color: #0c4076;
}

body{
    height: 100vh;
    background-image: url(../img/estadio-lusail.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 35% bottom;
    font-family: "Iceland", sans-serif;
    display: grid;
    grid-template-rows: 140px 1fr 200px;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../img/background-cores.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .6;
    z-index: -1;
}