*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
   
}

header{
    border: 1px solid blue;
    background-image: url(./img-desktop/image-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 700px;   
}

.nav_bar{
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: space-between;
       
}

.logo{
    margin: 20px;
    position: relative;
    top: 50px;
    left: 140px;
}

.menu{
    border: 1px solid red;
    height: fit-content;
    position: relative;
    top: 50px;
    right: 80px;  
}

ul{
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;    
}

li{
    margin: 20px;
}

li a{
    color: white;
    font-size: 18px;
}

.hero{
    border: 1px solid white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 800px;
    height: 270px;
    position: relative;
    top: 150px;
    left: 140px;
}

.hero h1{
    font-size: 50px;
    color: white;
    padding: 20px;
}