html, body{
    position: relative;
    overflow: hidden;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(90deg, #000 10%, #000e 40%, #0000), url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    padding: 80px 128px 50px 128px;
    animation: zoom 1.5s;
}

@media (max-width: 768px){
    body{
        padding: 30px 30px 25px 30px;
        background-image: url(../img/background.png);
        background-color: #0009;
        background-blend-mode: darken;
        animation: zoom 1.5s;    
    }
}

@keyframes zoom{
    0%{
        transform: scale(3);
    }
    100%{
        transform: scale(1);
    }
}