main{
    flex-grow: 1;
    display: flex;
}

.content-container{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
}

.content-container h1{
    display: flex;
    flex-direction: column;
    font-size: 7rem;
    font-weight: 400;
}

.content-container h1 span{
    font-size: 2rem;
    font-weight: 200;
    transform: translateY(30px);
}

.movie-tittle{
    font-size: 2.6rem;
    font-weight: 300;
    font-style: italic;
    color: #E62721;
    transform: translateY(-20px);    
}

.movie-text{
    width: 550px;
    font-size: 1.1rem;
    font-weight: 100;    
}

.movie-button{
    background-color: #E62721;
    width: 300px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 100;
    border-radius: 10px;
    margin-top: 30px;
}

.social-container{
    width: 48px;
}

.social-container ul{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.social-container li{
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #ffffff;
    transition: all .7s;
}

.social-container li:hover{
    background-color: #E62721;
    border: none;
}

.social-container i{
    font-size: 1.5rem;
}

@media (max-width: 768px){
    .content-container{
        justify-content: flex-end;
        margin-bottom: 50px;
    }
    .content-container h1{
        font-size: 4.5rem;
    }
    .content-container h1 span{
        font-size: 2rem;
        transform: translateY(15px);
    }
    .movie-tittle{
        font-size: 1.9rem;
        transform: translateY(5px);
    }
    .movie-text{
        display: none;
    }
    .social-container{
        display: none;
    }
}